.order-detail {
  display: flex;
  gap: 3px;

  margin-bottom: 16px;

  font-size: 14px;
  line-height: 16px;

  @media (max-width: 1203px) {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    flex-direction: row;
    gap: 3px;
    align-items: flex-end;
  }
}

.option {
  align-self: flex-end;

  @media (max-width: 1203px) {
    align-self: flex-start;
  }

  @media (max-width: 767px) {
    align-self: flex-end;
  }
}

.dots {
  position: relative;
  flex-grow: 1;

  &::before {
    content: '';

    position: absolute;
    bottom: 4px;

    width: 100%;
    height: 0;

    line-height: 0;

    border-bottom: 2px dotted var(--c-grey-dark);

    @media (max-width: 1203px) {
      display: none;
    }

    @media (max-width: 767px) {
      display: inline-block;
    }
  }
}

.values {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--c-grey-dark);

  @media (max-width: 1203px) {
    align-items: flex-start;
  }

  @media (max-width: 767px) {
    align-items: flex-end;
  }
}
