@import '@app/styles/sass/main';

.content {
  scrollbar-width: none;

  overflow-y: scroll;
  display: grid;
  grid-template-columns: 10fr 4fr;
  gap: 10px;

  width: 1376px;
  height: 100%;
  margin: 0 auto;
  padding: 0 64px;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  main {
    padding: 32px 16px 0 0;
    border-right: 1px solid var(--c-grey-light);

    @media (max-width: 767px) {
      padding: 0;
      border-right: none;
    }
  }

  aside {
    padding: 32px 0 32px 32px;

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  @media (max-width: 1439px) {
    width: 100%;
    margin: 0;
    padding: 0 32px;
  }

  @media (max-width: 1023px) {
    grid-template-columns: 2fr 1fr;
  }

  @media (max-width: 767px) {
    @include custom-scrollbar;

    scrollbar-width: auto;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 16px;

    -ms-overflow-style: inherit;

    &::-webkit-scrollbar {
      display: block;
    }
  }
}
