.wrapper {
  width: 100%;
  border-top: 1px solid var(--c-grey-light);
  border-bottom: 1px solid var(--c-grey-light);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  align-items: center;

  max-width: 1376px;
  margin: 0 auto;
  padding: 8px 64px;

  @media (max-width: 1439px) {
    width: 100%;
    margin: 0;
    padding: 8px 32px;
  }

  @media (max-width: 767px) {
    column-gap: 7px;
    padding: 8px 16px;
  }
}
