.wrapper {
  width: 100%;
  border-top: 1px solid var(--c-grey-light);
  border-bottom: 1px solid var(--c-grey-light);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  align-items: center;

  max-width: 1376px;
  margin: 0 auto;
  padding: 8px 64px;

  a {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    color: var(--c-grey-dark);
    text-decoration: none;
  }

  :global(a.active) {
    color: var(--c-green);
  }

  @media (max-width: 1439px) {
    width: 100%;
    margin: 0;
    padding: 8px 32px;
  }

  @media (max-width: 767px) {
    column-gap: 7px;
    padding: 8px 16px;
  }
}
