@import '@app/styles/sass/main';

.order-styles {
  color: var(--c-black);

  h5 {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 21.09px;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.order-container {
  margin-bottom: 32px;
}

.price-styles {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.btn {
  @include style-button($width: 100%);
}

.cancel-btn {
  @include style-button($width: 100%);

  background: linear-gradient(
    to right,
    rgb(73 48 19 / 100%),
    rgb(123 12 59 / 100%)
  );
}
