.extra-page {
  display: grid;
  grid-template-rows: auto auto 1fr;
  width: 100%;
}

.header {
  width: 1376px;
  margin: 0 auto;

  @media (max-width: 1439px) {
    width: 100%;
    margin: 0;
  }
}
