.order-number {
  max-width: 1376px;
  margin: 0 auto;
  padding: 8px 64px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  color: var(--c-black);

  @media (max-width: 1439px) {
    width: 100%;
    margin: 0;
    padding: 8px 32px;
  }

  @media (max-width: 767px) {
    padding: 8px 16px;
  }
}
