.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 8px;
    padding: 16px 16px 0;
  }
}

.location {
  @media (max-width: 767px) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
  }
}
