.map-container {
  position: relative;
  z-index: 50;
  max-width: 736px;
  height: 100%;

  :global(.leaflet-popup-content-wrapper) {
    padding-right: 10px;
    color: var(--c-black);
    border-left: 5px solid var(--c-green);
    border-radius: 5px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.leaflet-container {
  height: 100%;
}
