.container {
  font-size: 14px;
  line-height: 16px;
}

.header {
  margin-bottom: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper {
  width: max-content;
}
